@model Peripatoi.UI.Models.DTOs.PerioxhDto

@{
}

<h1 class="mt-3">Επεξεργασία περιοχής</h1>

@if (Model is not null)
{
    <form method="post">

        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" asp-for="Id" readonly/>
        </div>

        <div class="mt-3">
            <label class="form-label">Κωδικός</label>
            <input type="text" class="form-control" asp-for="Kwdikos" />
        </div>

        <div class="mt-3">
            <label class="form-label">Όνομα</label>
            <input type="text" class="form-control" asp-for="Onoma" />
        </div>

        <div class="mt-3">
            <label class="form-label">Σύνδεσμος Εικόνας</label>
            <input type="text" class="form-control" asp-for="EikonaUrl" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Αποθήκευση Αλλαγών</button>
        </div>

        <div class="mt-3 d-flex justify-content-between">
            <button type="submit" asp-controller="Perioxes" asp-action="Diagrafh" class="btn btn-danger">Οριστική Διαγραφή Περιοχής</button>
        </div>

    </form>
}