@model IEnumerable<Peripatoi.UI.Models.DTOs.PerioxhDto>

@{
}

<h1 class="mt-3"Περιοχές</h1>

<div class ="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="Perioxes" asp-action="Prosthiki"> Προσθήκη νέας περιοχής </a>
</div>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Id</th>
            <th>Κωδικός</th>
            <th>Όνομα</th>
            <th> </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var perioxh in Model)
    {
        <tr>
                <td>@perioxh.Id</td>
                <td>@perioxh.Kwdikos</td>
                <td>@perioxh.Onoma</td>
            <td>
                    <a asp-controller="Perioxes" asp-action="Epeksergasia" asp-route-id="@perioxh.Id" class=" btn btn-light"> Επεξεργασία </a>
            </td>
        </tr>
    }
    </tbody>
</table>