@{
    ViewData["Title"] = "Αρχική Σελίδα";
}

<div class="text-center">
    <h2 class="display-4">Καλωσήρθατε στο καλύτερο μέρος για την εύρεση περιπάτων.</h2>
    <p>Βρείτε τους καλύτερους περιπάτους για τα δικά σας μέτρα στην εφαρμογή μας.</p>
</div>
